html,
body {
  font: 18px "Encode Sans Condensed", sans-serif !important;
  padding: 0px;
  height: 100%;
  color: #858585;
}
h1 {
  margin-bottom: 0.75rem;
}
h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Oswald", sans-serif;
  color: #656565;
}
header {
  background-color: #fff;
  margin-bottom: 4px;
  font-size: smaller;
}
footer {
  color: #acacac;
  font-size: smaller;
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,4f4f4f+22,4f4f4f+100 */
  background: #4f4f4f; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #3f3f3f 0%,
    #565656 30%,
    #4f4f4f 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #3f3f3f 0%,
    #4f4f4f 30%,
    #4f4f4f 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #3f3f3f 0%,
    #4f4f4f 30%,
    #4f4f4f 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
}
a {
  color: #00b7ff;
  cursor: pointer;
}
a:hover,
a:active {
  color: #00b7ff;
  text-decoration: underline;
}
nav {
  background-color: rgba(68, 151, 187, 0.2);
  color: white;
  border-bottom: 6px solid #fff;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(68, 151, 187, 1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(68, 151, 187, 1);
  box-shadow: 0px 4px 0px 0px rgba(68, 151, 187, 1);
}
nav > ul,
nav > .mobileMenuBtn > ul {
  list-style: none;
  margin: 0;
  padding: 0rem;
  text-align: center;
}
nav > ul > li,
nav > .mobileMenuBtn > ul > li {
  padding: 0;
  margin: 0;
  display: inline-block;
  padding: 8px 0px;
}
nav > ul > li > a,
nav > .mobileMenuBtn > ul > li > a {
  padding: 8px 18px;
  color: #4497bb;
  cursor: pointer;

  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.white {
  color: white;
}
.bg-h2flow-light {
  background: rgba(68, 151, 187, 0.1);
}
.bg-faded {
  background-color: #e3e3e3;
}
.site-container {
  min-height: 100%;
  position: relative;
}
.page-content {
  padding-bottom: 141px;
}
.footer-right {
  text-align: right;
}
nav > .mobileMenuBtn > ul > li > a.active,
nav > ul > li > a.active,
nav > .mobileMenuBtn > ul > li > a:hover,
nav > ul > li > a:hover {
  color: #fff;
  background-color: #4497bb;
  text-decoration: none;
}
.blue {
  background: #4497bb;
  color: #fff;
}

/* ############################################CAROUSEL */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  transition: transform 3s ease;
}

@media (min-width: 786px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translate(25%);
  }
  .carousel-inner .carousel-item.start.active,
  .carousel-inner .carousel-item-prev {
    transform: translate(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.mnf-carousel {
  background-color: #ffffff;
}
.carousel-card-img {
  height: 75px;
}

.card {
  border: none;
}

/* ################################################## */

/* ###############TECHNOLOGY LIST############### */

.tech-list .list-group-item {
  margin-top: 2px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  border-radius: 5px;
  color: #4497bb;
}

.tech-list a {
  text-decoration: none;
}

/* ###################################################### */
.text-blue {
  color: #00acd4 !important;
}
.dashboard #content {
  width: 100% !important;
}
.imgContainer {
  height: 225px;
}
.headquarters {
  background: url("../bkrnds/home_parallax.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-smaller {
  font-size: smaller;
}
.btn:hover {
  cursor: pointer;
}
.carousel-control-next,
.carousel-control-prev {
  width: 60px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  text-shadow: 1px 1px #000;
}
.parallax-water {
  background: url("./bkrnds/home_parallax.jpg") left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.parallax-water2 {
  background: url("./bkrnds/home_parallax.jpg") left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.parallax-header-white {
  /*font-family: 'Roboto Condensed', sans-serif;*/
  color: #ffffff;
  text-align: center;
  /*text-shadow: 0px 2px 5px rgba(0,0,0,0.5);*/
  font-size: 2.5rem;
  /*background: #00529bf0;*/
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-bottom: 1.25rem;
  margin-top: 2rem;
}
.parallax-header-white h1 {
  font-size: 400%;
}
.parallax-header-white h2 {
  font-size: 350%;
}
.parallax-header h2 {
  font-size: 2.5rem;
  font-size: 350%;
}
.parallax-header-white h3 {
  font-size: 250%;
}
.parallax-header-white h4 {
  font-size: 200%;
}
.parallax-header-white h5 {
  font-size: 150%;
}
.social_icons > a > div {
  position: relative;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  top: 0;
  margin-left: 2px;
}
.social_icons > a:hover > div {
  top: -4px;
  box-shadow: 0 0.25rem 2px 2px rgba(0, 0, 0, 0.2);
}
.card {
  margin-bottom: 1rem;
}
.card-title {
  color: #2b6fb6;
}
.bg-transparent-white {
  background-color: #ffffffdb;
}
.bg-transparent-blue {
  background: #00529bf0;
}
.customer-base-list {
  padding: 0px;
  margin: 0px;
  color: #4f4f4f;
  list-style: none;
}
.customer-base-list > li {
  padding-left: 0.75rem;
  margin-bottom: 0.75rem;
}
.customer-base-list > li:before {
  content: "\f0da"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: 0.85rem;
  display: inline-block;
  width: 1.2em; /* same as padding-left set on li */
  color: darkorange;
}
.border-color {
  border: 4px solid #e08528;
  border-left: 0;
  border-right: 0;
}
.border-color-top {
  border: 0;
  border-top: 4px solid #e08528;
}
.border-color-bottom {
  border: 0;
  border-bottom: 4px solid #e08528;
}
.white-logo {
  max-width: 250px;
}
.company-services {
  list-style: none;
  padding: 0px;
}
.company-services > li {
  text-align: center;
  color: white;
  font-size: 140%;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.white-line {
  border-color: rgba(255, 255, 255, 0.75);
}

.white-hr {
  border: 0px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.75);
}

#logo {
  height: 106px;
  width: 310px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.small-logo {
  height: 50px;
  width: 150px;
}
.language-bar {
  position: relative;
  height: 28px;
}
.languageSelection {
  background-color: #4497bb;
  color: #49b1d7;
  padding: 5px 10px;
  width: 151px;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  right: 0px;
}
.languageSelection a,
.languageSelection a:hover,
.languageSelection a:active,
.languageSelection a:focus {
  text-decoration: none;
  color: #fff;
}
.mobileMenu {
  display: none;
  background-color: #4497bb;
}
.mobile_items {
  list-style: none;
  margin: 0px;
  padding: 10px 0px;
}
.mobile_items > li {
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
}
.mobile_items > li:hover {
  background-color: #48b6dc;
}
.mobile_items > li > a {
  color: #fff;
}
.mobile_items > li > a:hover {
  text-decoration: none;
}
.header_slideshow {
  position: relative;
  height: 225px;
  /* background: url('/static/pages/images/page_headlines/01_Home_SPACER_012.jpg') center; */
  background: url("./bkrnds/waves.jpg") center;
  background-size: cover;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}
.header_slideshow .container {
  position: relative;
  height: 225px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.header_slideshow .home {
  font-size: 300%;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 1rem;
  right: 0px;
}
.imageCategories ul {
  text-align: center;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: calc(100% - 1rem);
}
.imageCategories ul > li > a {
  color: inherit !important;
  text-decoration: none;
}
.imageCategories ul > li:hover {
  opacity: 1;
  cursor: pointer;
}
.imageCategories ul > li {
  list-style: none;
  display: inline-block;
  width: 264px;
  padding: 0 2rem;
  margin: 0 auto;
  font-size: 250%;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  opacity: 0.55;

  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.imageCategories ul > li.active {
  opacity: 1;
}
.imageCategories .fa {
  font-size: 200%;
}
.bg-light-gray {
  background-color: #efefef;
}
.location_item {
  text-align: right;
}
.location_item > a {
  color: #95a5a6 !important;
}
.location_item > a:hover {
  color: #00acd4 !important;
  text-decoration: none;
}
.spacer8 {
  background: url("/static/pages/images/banners/SPACER_008.jpg") no-repeat
    center;
  background-size: cover;
}
.spacer {
  height: 350px;
  width: 100%;
}
.subpage {
  display: none;
}
.activesubpage {
  display: flex !important;
}
.videotile {
  position: relative;
}
.videotile .title {
  position: absolute;
  width: calc(100% - 10px);
  text-align: center;
  background: #00529b;
  padding: 10px;
  left: 5px;
  bottom: 5px;
  color: white;
}
.categorytitle:not(:first-of-type) {
  margin-top: 4rem;
}
.active-lang {
  color: #ffd282 !important;
}

.text-orange {
  color: darkorange !important;
}
.img-links {
  max-width: 120px;
  margin: 0.5rem;
}
.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.featured-news {
  background: #748899;
}

.service-btn {
  background-color: rgb(19, 69, 19);
  border-color: rgb(10, 35, 10);
}

.service-btn:hover {
  background-color: rgb(36, 40, 36);
  border-color: rgb(36, 40, 36);
}

@media (max-width: 992px) {
  .header_slideshow,
  .header_slideshow .container {
    height: 200px;
  }
  .spacer {
    height: 200px;
  }
  .header_slideshow .home,
  .header_slideshow .news,
  .header_slideshow .header_text {
    font-size: 200%;
    bottom: 1.5rem;
  }
  .imageCategories ul > li {
    width: 150px;
    padding: 0 0.5rem;
    font-size: 150%;
    bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .img-links {
    max-width: 175px;
  }
  .imgContainer {
    height: 200px;
  }
  .footer-right {
    margin-top: 1rem;
    text-align: left !important;
  }
  .page-content {
    padding-bottom: 195px;
  }
  #logo {
    height: 80px;
    width: 234px;
    margin-bottom: 0rem;
  }
  #carouselExampleControls {
    display: none;
  }
  .parallax-header-white h1,
  .parallax-header-white h2,
  .parallax-header-white h3,
  .parallax-header-white h4,
  .parallax-header-white h5 {
    font-size: 200%;
  }
  .company-services > li {
    font-size: 120%;
  }
  .header_slideshow,
  .header_slideshow .container {
    height: 150px;
  }
  .spacer {
    height: 150px;
  }
}

@media (max-width: 576px) {
  .header_slideshow,
  .header_slideshow .container {
    height: 100px;
  }
  .location_item {
    text-align: left;
  }
  .spacer {
    height: 100px;
  }
  .header_slideshow .home,
  .header_slideshow .news,
  .header_slideshow .header_text {
    font-size: 150%;
    bottom: 0.5rem;
    right: 2rem;
  }
  .imageCategories ul {
    margin: 0;
  }
  .imageCategories ul > li {
    width: 100px;
    padding: 0.75rem 0;
    font-size: 100%;
    bottom: 0;
  }
  .imageCategories .fa {
    font-size: 200%;
  }
}
